@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: rgb(61, 61, 61);
  font-family: "Varela Round", sans-serif;
}
body {
  padding: 100px 150px 0px 300px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.anime-list-gen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime-form {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 700px;
}

.id-input {
  flex: 1;
  max-width: 200px;
  height: 32px;
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid black;
}

.id-submit {
  height: 44px;
  margin-left: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.anime-container {
  height: 340px;

  flex: 1;
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: 0px 50px;
}
.embed-anime-video {
  width: 100%;
  height: 100%;
}
.anime-image {
  height: 100%;
}

.anime-add-remove {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 40px;
}
.add-form,
.do-not-add-form {
  display: none;
}

.bttn {
  position: relative;
  width: 140px;
  height: 40px;
  margin: 0px 5px;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.username-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.enter-username {
  margin: 0;
  height: 30px;
  font-size: 1.1rem;
  padding: 4px;
  border: none;
  background-color: rgb(243, 245, 146);
  cursor: pointer;
}
.type-username-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 320px;
  margin: 0px 80px;
}
.type-username {
  width: 100%;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 1.3rem;
  color: rgb(255, 255, 167);
  background-color: rgb(44, 44, 44);
  text-align: center;
}
.vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  flex: 1;
  max-width: 600px;
}

.anime-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 30px 0px;
  color: yellow;
}

.anime-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 600px;
}
.anime-image {
  width: 100%;
}
.current-user {
  color: white;
  text-shadow: 0px 0px 1px white;
}
.anime-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
/*
HEADER
*/
.header {
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: black;
  color: white;
}
/*
HEADER
*/
